fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-classic
langchain-qdrant

sentence-transformers
qdrant-client
rank-bm25

scikit-learn
pandas
numpy
gdown

structlog
openai